
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


[data-show="1"]{
    display: block;
}

[data-show="0"]{
    display: none;
}

a{
    text-decoration: none;
    display: block;
}
span{
    display: inline-block;
}
main{
    overflow: hidden;
}

body {
	// font-family: "Rubik", sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
}

.container{
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

// стили для страницы app-page

$app-red:#ff7588;
$app-purple: #7a65ff;
$app-orange: #ffaa8f;

.hero {
	position: relative;
	background-image: linear-gradient( 49.18deg, rgb(112,74,209) 0%, rgb(117,97,252) 100%);
	position: relative;

	&__bg{
		position: absolute;
		width: 100%;
		height: 136px;
		left: 0;
		bottom: -3px;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 3;

		@media only screen and (max-width : 991px) {
			height: 100px;
		}
	}

	&__img{
		position:absolute;
		bottom: 0;
		right: 0;
		width: 40%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right bottom;

		@media only screen and (max-width : 1439px) {
			background-position: right bottom 40px;
		}
		@media only screen and (max-width : 767px) {
			width: 50%;
		}
		@media only screen and (max-width : 767px) {
			opacity: 0.6;
		}
		@media only screen and (max-width : 576px) {
			display: none;
		}
	}

	&__inner {
		padding-top: 165px;

		@media only screen and (max-width : 991px) {
			padding-top: 100px;
		}

		@media only screen and (max-width : 767px) {
			padding-top: 80px;
		}

		@media only screen and (max-width : 576px) {
			padding-top: 60px;
		}
	}

	&__content {
		max-width: 620px;
		padding-bottom: 250px;
		position: relative;
		z-index: 2;

		@media only screen and (max-width : 991px) {
			padding-bottom:150px;
		}

		@media only screen and (max-width : 576px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			padding-bottom:120px;
		}
	}

	&__title {
		display: block;
		margin-bottom: 45px;
		font-size: 82px;
		font-weight: 600;
		color: #ffffff;

		@media only screen and (max-width : 1199px) {
			font-size: 64px;
		}

		@media only screen and (max-width : 991px) {
			font-size: 54px;
			max-width: 500px;
		}

		@media only screen and (max-width : 767px) {
			font-size: 40px;
			margin-bottom: 25px;
		}

		@media only screen and (max-width : 576px) {
			font-size: 30px;
			margin-bottom: 25px;
		}
	}

	&__descr {
		margin-bottom: 45px;
		font-size: 18px;
		line-height: 1.6;
		color: #ffffff;

		@media only screen and (max-width : 576px) {
			font-size: 16px;
			margin-bottom: 25px;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;

		@media only screen and (max-width : 576px) {
			flex-direction: column;
		}
	}

	&__buttons {
		font-size: 18px;
		color: #ffffff;

		@media only screen and (max-width : 767px) {
			font-size: 16px;
		}
	}

	&__link-icon{
		margin-right: 12px;
	}

	&__link-icon:before{
		content: "\f04b";
	}

	&__link_play{
		color: #ffffff;
		transition: all 0.3s ease;
		&:hover{
			color:#ff8f9f;
		}
	}
}



// блок приемуществ
.advantages {
	padding-top: 128px;
	padding-bottom: 60px;

	@media only screen and (max-width : 1199px) {
		padding-top: 90px;
	}

	@media only screen and (max-width : 991px) {
		padding-top: 60px;	
	}

	@media only screen and (max-width : 767px) {
		padding-top: 40px;
		padding-bottom: 40px;	
	}

	@media only screen and (max-width : 576px) {
		padding-top: 20px;
		padding-bottom: 30px;	
	}

	& .container{
		max-width: 1180px;
	}

	&__cards {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media only screen and (max-width : 1199px) {
			// flex-wrap: wrap;
		}

		@media only screen and (max-width : 991px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__card {
		padding: 70px 50px 75px 50px;
		display: flex;
		text-align: center;
		align-items: center;
		flex-direction: column;
		border-radius: 10px;
		box-shadow: 0px 0px 177px 0px rgba(0, 0, 0, 0.05);

		margin-right: 30px;

		&:last-child{
			margin-right: 0;
		}

		@media only screen and (max-width : 1199px) {
			padding: 50px 35px 55px 35px;
		}

		@media only screen and (max-width : 991px) {
			flex: 0 1 46%;
			margin-bottom: 25px;
			margin-right: 0;	
			&:first-child{
				margin-right: 25px;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}

		@media only screen and (max-width : 576px) {
			padding: 25px 15px;
			flex: 0 1 100%;
			margin-right: 0;
			margin-bottom: 15px;
			box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);

			&:first-child{
				margin-right: 0;
			}
		}
	}
}

.advantages-card {
	&__icon {
		width: 70px;
		height: 70px;
		border-radius: 50px;
		margin-bottom: 30px;
		font-size: 30px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media only screen and (max-width : 1199px) {
			width: 60px;
			height: 60px;
			font-size: 26px;
			margin-bottom: 26px;
		}

		@media only screen and (max-width : 576px) {
			margin-bottom: 15px;
		}

		&[data-color="red"]{
			background-color: #fff4f5;

		}

		&[data-color="orange"]{
			background-color: #fff6f3;
		}

		&[data-color="perple"]{
			background-color: #f5f4ff;
		}

		& .fa-drafting-compass:before{
			content:"\f568";
			color: $app-red;
		}

		& .fa-edit:before{
			content:"\f044";
			color: $app-purple;
		}

		& .fa-shield-alt:before{
			content:"\f3ed";
			color: $app-orange;
		}
	}

	&__title {
		margin-bottom: 30px;
		font-size: 24px;
		font-weight: 600;

		@media only screen and (max-width : 1199px) {
			margin-bottom: 26px;
			font-size: 22px;			
		}

		@media only screen and (max-width : 576px) {
			font-size: 18px;
			margin-bottom: 15px;	
		}

	}

	&__descr {
		line-height: 1.4;
		color: #666666;
	}
}

//  о приложении
.about {
	padding: 60px 0 60px 0;

	@media only screen and (max-width : 1199px) {
		padding: 40px 0;			
	}

	@media only screen and (max-width : 576px) {
		padding: 30px 0;
	}

	&__inner {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}

	&__img-item{
		position: absolute;
		top: 0;
		right: 65px;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center bottom ;

		@media only screen and (max-width : 1599px) {
			left: -70px;			
		}
		@media only screen and (max-width : 1439px) {
			left: -20px;			
		}
		@media only screen and (max-width : 1199px) {
			width: 90%;			
		}
		@media only screen and (max-width : 767px) {
			opacity: 0.5;			
		}
	}

	&__img {
		position: relative;
		width: 50%;

		@media only screen and (max-width : 767px) {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 55%;
			z-index: -1;
			height: 100%;			
		}

		@media only screen and (max-width : 576px) {
			display: none;			
		}
	}

	&__content {
		position: relative;
		z-index: 3;
		width: 50%;

		@media only screen and (max-width : 767px) {
			position: relative;
			width: 70%;
			z-index: 3;			
		}

		@media only screen and (max-width : 576px) {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;	
		}
	}
	
	&__descr {
		margin-bottom: 40px;
	}

	&__list {
		list-style: none;
		margin-bottom: 54px;

		@media only screen and (max-width : 1199px) {
			margin-bottom: 40px;			
		}
		@media only screen and (max-width : 991px) {
			margin-bottom: 30px;		
		}
		@media only screen and (max-width : 576px) {
			margin-top: 0;
			text-align: left;
		}

		li{
			position: relative;
			margin-bottom: 30px;
			font-size: 18px;
			color: #222222;

			@media only screen and (max-width : 1199px) {
				font-size: 16px;			
			}

			@media only screen and (max-width : 1199px) {
				margin-bottom: 20px;		
			}

			&:before{
				position: absolute;
				content: "";
				width: 10px;
				height: 10px;
				border-radius: 100px;
				background-color: #ff8f9f;
				left: -40px;
				top: 50%;
				transform: translateY(-50%);

				@media only screen and (max-width : 576px) {
					left: -20px;
				}
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}


.app-icon {
	width: 120px;
	height: 120px;
	margin-bottom: 40px;
	border-radius: 100px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 42px;
	color:$app-red;

	@media only screen and (max-width : 991px) {
		width: 100px;
		height: 100px;
		margin-bottom: 20px;
	}

	@media only screen and (max-width : 576px) {
		width: 80px;
		height: 80px;
		margin-bottom: 20px;
	}

	&[data-color="red"]{
		background-color: #fff4f5;
	}

	& .fa-question:before{
		content:"\f128";
	}

	& .fa-icons:before{
		content:"\f86d";
	}
}

.app-title {
	display: block;
	margin-bottom: 38px;
	font-size: 60px;
	font-weight: 600;

	@media only screen and (max-width : 1199px) {
		font-size: 48px;
	}

	@media only screen and (max-width : 991px) {
		font-size: 38px;
		margin-bottom: 34px;
	}

	@media only screen and (max-width : 767px) {
		font-size: 28px;
		margin-bottom: 30px;
	}

	@media only screen and (max-width : 576px) {
		max-width: 80%;
		font-size: 22px;
		margin-bottom: 20px;
	}

	&_get {
		max-width: 600px;
		color: #ffffff;
		@media only screen and (max-width : 767px) {
			margin-bottom: 30px;		
		}
		@media only screen and (max-width : 576px) {
			margin-bottom: 20px;	
		}
	}
}

.app-descr{
	font-size: 18px;
	line-height: 1.4;	
	color: #666666;

	@media only screen and (max-width : 767px) {
		font-size: 16px;
		line-height: 1.3;
	}

	&_about{
		max-width: 580px;
		margin-bottom: 50px;

		@media only screen and (max-width : 1199px) {
			margin-bottom: 40px;			
		}

		@media only screen and (max-width : 991px) {
			margin-bottom: 30px;		
		}

		@media only screen and (max-width : 576px) {
			margin-bottom: 15px;
		}
	}

	&_features {
		margin-bottom: 54px;
		max-width: 520px;

		@media only screen and (max-width : 991px) {
			margin-bottom: 40px;
		}

		@media only screen and (max-width : 576px) {
			margin-bottom: 50px;
		}
	}

	&_get {
		max-width: 600px;
		color: #ffffff;
		margin-bottom: 50px;

		@media only screen and (max-width : 991px) {
			margin-bottom: 40px;		
		}
		@media only screen and (max-width : 767px) {
			margin-bottom: 30px;		
		}
		@media only screen and (max-width : 576px) {
			margin-bottom: 20px;	
		}
	}

	&_question{
		max-width: 550px;
		margin-bottom: 54px;

		@media only screen and (max-width : 1199px) {
			margin-bottom: 44px;
		}

		@media only screen and (max-width : 576px) {
			margin-bottom: 25px;
		}
	}
}

.app-btn{
	width: 200px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: #ff8f9f;
	color: #ffffff;
	font-size: 18px;
	transition: all 0.3s ease;

	&:hover{
		background-color: lighten(#ff8f9f, 5%);
	}

	@media only screen and (max-width : 767px) {
		width: 160px;
		height: 56px;
		font-size: 16px;
	}

	&_hero{
		margin-right: 60px;

		@media only screen and (max-width : 576px) {
			margin-right: 0;
			margin-bottom: 32px;
		}
	}
}

// блок с особенностями
.features {
	// display: flex;
	padding: 60px 0 120px 0;

	@media only screen and (max-width : 576px) {
		padding: 30px 0 60px 0;
	}

	&__inner {
		display: flex;
		align-items: flex-end;

		@media only screen and (max-width : 767px) {
			position: relative;
		}
	}

	&__content {
		width: 50%;
		@media only screen and (max-width : 767px) {
			position: relative;
			width: 100%;
			z-index: 3;
		}
		@media only screen and (max-width : 576px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			text-align: center;
		}
	}

	&__img{
		position: relative;
		width: 30%;

		@media only screen and (max-width : 767px) {
			position: absolute;
			right: 0;
			width: 40%;
			z-index: 1;
		}

		@media only screen and (max-width : 576px) {
			display: none;
		}
	}

	&__img-item{
		position: absolute;
		width: 100%;
		height: 858px;
		bottom: 0;
		left: 70px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom;

		@media only screen and (max-width : 767px) {
			opacity: 0.5;
			left: 0;
		}
	}
}

.features-list {

	&__item {
		margin-bottom: 50px;

		@media only screen and (max-width : 991px) {
			margin-bottom: 35px;
		}

		@media only screen and (max-width : 576px) {
			margin-bottom: 40px;
		}

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		@media only screen and (max-width : 576px) {
			justify-content: center;
			flex-direction: column;
			margin-bottom: 10px;
		}
	}

	&__descr {
		max-width: 520px;
		line-height: 1.4;
		color: #666666;

		@media only screen and (max-width : 576px) {
			font-size: 14px;
		}
	}
}

.list-title {
	&__icon {
		margin-right: 20px;
		width: 70px;
		height: 70px;
		border-radius: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;

		@media only screen and (max-width : 991px) {
			width: 50px;
			height: 50px;
			font-size: 20px;
		}

		@media only screen and (max-width : 576px) {
			width: 40px;
			height: 40px;
			margin-right: 0;
			margin-bottom: 15px;
			font-size: 18px;
		}

		&[data-color="red"]{
			background-color: #fff4f5;
		}

		&[data-color="orange"]{
			background-color: #fff6f3;
		}

		&[data-color="perple"]{
			background-color: #f5f4ff;
		}

		& .fa-bell:before{
			content:"\f0f3";
			color: $app-red;
		}

		& .fa-user:before{
			content:"\f007";
			color: $app-purple;
		}

		& .fa-thumbs-up:before{
			content:"\f164";
			color: $app-orange;
		}
	}

	&__text {
		font-size: 24px;
		font-weight: 600;

		@media only screen and (max-width : 991px) {
			font-size: 22px;
		}

		@media only screen and (max-width : 576px) {
			font-size: 18px;
		}
	}
}

// блок получения приложения
.get {
	position: relative;
	background-image: linear-gradient( 49.18deg, rgb(112,74,209) 0%, rgb(117,97,252) 100%);

	&__wrapper{
		width: 100%;
		position: relative;
		padding: 124px 0 121px 0;
		overflow: hidden;

		@media only screen and (max-width : 767px) {
			padding: 60px 0 100px 0;		
		}
		@media only screen and (max-width : 576px) {
			padding: 30px 0 80px 0;	
		}
	}

	&__bg{
		position: absolute;
		width: 100%;
		height: 128px;
		left: 0;
		bottom: -6px;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 3;

		@media only screen and (max-width : 767px) {
			height: 50px;	
		}

	}

	&__inner {	

		display: flex;
		@media only screen and (max-width : 767px) {
			justify-content: flex-end;
		}
	}

	&__img{
		position: relative;
		width: 50%;

		@media only screen and (max-width : 767px) {
			width: 40%;	
			position: absolute;
			left: 0;
			z-index: 1;	
		}

		@media only screen and (max-width : 576px) {
			display: none;	
		}
	}

	&__img-item{
		position: absolute;
		top: -76px;
		right: 104px;
		width: 383px;
		height: 760px;
		background-repeat: no-repeat;
		background-size: contain;
		@media only screen and (max-width : 1119px) {
			width: 323px;
			height: 570px;	
			top: 0;	
		}

		@media only screen and (max-width : 991px) {
			right:0;		
		}

		@media only screen and (max-width : 767px) {
			width: 100%;
			opacity: 0.5;		
		}
	}

	&__content {
		width: 50%;

		@media only screen and (max-width : 767px) {
			width: 70%;
			z-index: 3;		
		}
		@media only screen and (max-width : 576px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			width: 100%;	
		}
	}
}

// блок с вопросами
.question{
	position: relative;
	padding: 134px 0 60px 0;

	@media only screen and (max-width : 1199px) {
		padding: 90px 0 60px 0;
	}
	@media only screen and (max-width : 991px) {
		padding: 40px 0 60px 0;		
	}
	@media only screen and (max-width : 576px) {
		padding: 30px 0 60px 0;	
	}

	&__inner {
		display: flex;
		align-items: flex-end;
		position: relative;
	}

	&__content {
		width: 50%;

		@media only screen and (max-width : 767px) {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 3;
		}
		@media only screen and (max-width : 576px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			width: 100%;	
		}
	}

	&__img{
		position: absolute;
		width: 50%;
		height: 100%;
		z-index: -1;
		right: 0;
		top: 0;

		@media only screen and (max-width : 767px) {
			width: 50%;
			height: 100%;
			position: absolute;
			z-index: 2;
			right: 0;
		}
		@media only screen and (max-width : 576px) {
			display: none;	
		}
	}

	&__img-item{
		// position: absolute;
		bottom: -26px;
		right: -25px;
		width: 100%;
		height: 600px;
		background-size: contain;
		background-position: center bottom;
		background-repeat: no-repeat;

		@media only screen and (max-width : 1199px) {
			height: 550px;
		}

		@media only screen and (max-width : 991px) {
			height: 500px;
		}

		@media only screen and (max-width : 767px) {
			height: 450px;
			opacity: 0.5;
		}
	}
}
.accordeon {
	max-width: 550px;

	&__box {
		margin-bottom: 46px;

		@media only screen and (max-width : 1199px) {
			margin-bottom: 36px;
		}

		@media only screen and (max-width : 576px) {
			margin-bottom: 20px;	
		}

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__title {
		display: inline-block;
		font-size: 24px;
		color: #ff7588;
		cursor: pointer;

        &:hover{
            color:darken( #ff7588, 15%)
        }

		@media only screen and (max-width : 576px) {
			font-size: 18px;	
		}
	}

	&__descr {
		padding-top: 24px;
		line-height: 1.4;
		color: #666666;

		@media only screen and (max-width : 576px) {
			padding-top: 15px;	
			font-size: 14px;
		}
	}
}

// блок статистика 
.statistic {
	padding: 60px 0 54px 0;

	@media only screen and (max-width : 767px) {
		padding: 30px 0 54px 0;
	}

	@media only screen and (max-width : 576px) {
		padding: 10px 0 54px 0;

		& .container{
			padding: 0;
		}
	}

	&__inner {
		width: 100%;
		height: 300px;
		display: flex;
		align-items: center;
		padding: 0 58px;
		border-radius: 10px;
		background-image: linear-gradient( 49deg, rgb(112,74,209) 0%, rgb(117,97,252) 100%);
		@media only screen and (max-width : 1199px) {
			height: 260px;
		}

		@media only screen and (max-width : 991px) {
			height: 220px;
		}
		@media only screen and (max-width : 767px) {
			padding: 0 38px;
		}

		@media only screen and (max-width : 576px) {
			height: auto;
			padding: 30px 0;
			border-radius: 0;
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
		width: 100%;

		@media only screen and (max-width : 576px) {
			flex-direction: column;
		}
	}
}

.statistic-item {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media only screen and (max-width : 576px) {
		margin-bottom: 30px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__title {
		font-size: 60px;
		font-weight: 600;
		margin-bottom: 28px;
		color: #ffffff;

		@media only screen and (max-width : 1199px) {
			font-size: 45px;
			margin-bottom: 18px;
		}

		@media only screen and (max-width : 991px) {
			font-size: 40px;
			margin-bottom: 12px;
		}

		@media only screen and (max-width : 767px) {
			font-size: 30px;
		}

		@media only screen and (max-width : 576px) {
			margin-bottom: 0;
		}
	}

	&__descr {
		font-size: 18px;
		color: #ffffff;
	}
}


// футтер и хедер

.header.fixed {
	position: fixed;
}

.header {
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	z-index: 10;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
	}

	&__logo {
	}

	&__logo-img {
		width: 30px;

		@media only screen and (max-width: 992px) {
			width: 20px;
		}
	}

	&__links {
		display: flex;
		justify-content: space-between;

		@media only screen and (max-width: 992px) {
			display: none;
		}
	}

	&__link {
		font-size: 14px;
		color: #0d0d0d;
		font-weight: 500;
		margin-right: 25px;
		transition: all 0.3s ease;
		position: relative;

		&:before {
			position: absolute;
			content: "";
			height: 2px;
			width: 0%;
			background-color: #0058a3;
			bottom: -3px;
			right: 50%;
			transition: all 0.3s ease;
		}

		&:after {
			position: absolute;
			content: "";
			height: 2px;
			width: 0%;
			background-color: #0058a3;
			bottom: -3px;
			left: 50%;
			transition: all 0.3s ease;
		}

		&:hover {
			color: #0058a3;

			&:before {
				position: absolute;
				content: "";
				height: 2px;
				width: 50%;
				background-color: #0058a3;
				bottom: -3px;
				right: 0;
			}

			&:after {
				position: absolute;
				content: "";
				height: 2px;
				width: 50%;
				background-color: #0058a3;
				bottom: -3px;
				left: 0;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}

	&__sign {
		display: flex;
		align-items: center;
		@media only screen and (max-width: 992px) {
			display: none;
		}

		a {
			font-size: 14px;
			font-weight: 500;
			
		}
	}

	&__sign-in {
		margin-right: 20px;
		text-align: center;
		display: block;
		width: 120px;
		padding: 10px 0;
		border-radius: 4px;
		background-color: #0058a3;
		color: #ffffff;
		transition: all 0.3s ease;

		&:hover {
			background-color: lighten(#0058a3, 15%);
		}
	}

	&__sign-up {
		color: #0058a3;
	}

	&__burger-menu {
		display: none;
		width: 18px;
		height: 16px;
		position: relative;
		cursor: pointer;
		@media only screen and (max-width: 992px) {
			display: block;
		}

		&:after,
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #0058a3;
			border-radius: 10px;
		}

		&:after {
			top: 0;
		}

		&:before {
			bottom: 0;
		}
	}
}

.burger-menu {
	border-radius: 10px;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 2px;
	background-color: #0058a3;
}

.footer {
	background-color: transparent;
	padding: 25px 0;

	@media only screen and (max-width: 767px) {
		padding: 15px 0;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__menu {
		display: flex;
		flex: 0 1 100%;
		justify-content: center;
		margin-bottom: 15px;

		@media only screen and (max-width: 767px) {
			display: none;
		}
	}

	&__link {
		font-size: 14px;
		margin-right: 25px;
		color: #222222;
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease;
		&:hover {
			border-color: #222222;
		}

	}

	&__company {
		margin-right: 10px;
		font-size: 14px;
		color: lighten(#222222, 30%);

		@media only screen and (max-width: 767px) {
			flex: 0 1 100%;
			text-align: center;
			margin-bottom: 10px;
		}
	}

	&__policy {
		@media only screen and (max-width: 767px) {
			flex: 0 1 100%;
			text-align: center;
		}
	}
}

.header {
    z-index: 99;
	&__mobile-menu {
		// display: none;
		position: absolute;
		width: 100%;
		top: 37px;
		height: calc(100vh - 37px);
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease;
        transform: translateX(-100%);
        
	}

	&__mobile-menu.active{
		transform: translateX(0);
	}
}
.mobile-menu {
    width: 100%;
	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 16px;
		margin-bottom: 60px;
	}

	&__link {
		margin-bottom: 20px;
		color: #0058a3;
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			border-color: #0058a3;
		}
	}

	&__sign {
		display: flex;
		flex-direction: column;
		align-items: center;

		a {
			font-size: 16px;
		}
	}

	&__sign-in {
		display: block;
		width: 200px;
		text-align: center;
		padding: 10px 0;
		border-radius: 4px;
		background-color: #0058a3;
		color: #ffffff;
		margin-bottom: 20px;
		transition: all 0.3s ease;

		&:hover {
			background-color: lighten(#0058a3, 15%);
		}
	}

	&__sign-up {
		color: #0058a3;
	}
}